<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yfr.demo" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity android:name=".channel.ChannelManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".DemoMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".follow.LikedFallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
